@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  background-color: #050505;
  font-family: 'Inter', sans-serif;
  color: white;
  overscroll-behavior: none;
  -webkit-touch-callout: none;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}
